__pycache__/
*.pyc

# Virtual environments
venv/
bin/
lib/
include/
pyvenv.cfg
.python-version

# IDE
.idea/
.ropeproject/
.vscode/

# OS
.DS_Store

# Ruff
.ruff_cache/

# Runtime
tmp/
temp_download/
local_resources/*
!local_resources/.gitkeep

# Secrets
token.env
